.gastro-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-image: url('../Assets/gastro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .gastro-container {
    max-width: 800px;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

 
  
  